* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: white;
  color: black;
  font-family: "IBM Plex Mono", monospace;
}

.App {
  padding: 16px;
}

.paper {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background: none;
  background: white;
  margin-bottom: 12px;
}

.box-wrapper {
  max-width: 540px;
  width: 100%;
  margin: 0 auto 12px;
}

.box {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.label {
  display: block;
  margin-bottom: 12px;
}

.button {
  margin-bottom: 12px;
  background: black;
  appearance: none;
  border: none;
  padding: 8px 16px;
  color: white;
  display: block;
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
}

.button--file input {
  display: none;
}

.logo {
  background: black;
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: right;
  width: 64px;
  height: 64px;
  margin: 0 auto 16px;
  display: flex;
  align-items: center;
  padding: 8px;
}

.logo-text {
  margin-left: auto;
}

.footer {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 12px 12px calc(12px + env(safe-area-inset-bottom));
  flex-wrap: wrap;
}

.footer a {
  color: white;
  text-decoration: none;
}
